body { background-color:ivory;
color:black;}
h1 { font-size:35px;}


     

#Monica {float: right;
    position: absolute;
    top: 30px;
    left: 1100px;
    border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ;     
    
    
}

.about{ background-color: aliceblue;
     border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    padding: 3px;
    width: 500px;
    margin-left: 10px;
    
   
}
    

#interests{ background-color: aliceblue;
    clear: right;
    margin: 10px;
    border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    padding: 3px;
     
}

 

.excperience{  background-color: aliceblue;
    border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    padding: 3px;
     width: 500px;
    margin-left: 10px;
    
}

.education{ background-color: aliceblue;
    border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    padding: 3px;
     width: 500px;
    margin-left: 10px;
    }
    

ol {list-style: lower-alpha;}


ul{ list-style:square;}



.board{
    border-bottom:5px  solid ;
    border-left:5px black solid ;
        border-right: 5px black solid;
    border-top:5px black solid ; 
    background-color: aliceblue;

  }    
    .box {border-bottom:5px  solid ;
    border-left:5px black solid ;
        border-right: 5px black solid;
    border-top:5px black solid ; 
    background-color: aliceblue;
        margin: 5px;
}

#link{font-size:16px;
background-color: aliceblue;
    border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
  border-radius: 25px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;
    
}

footer {background-color: aliceblue;
    border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    padding: 3px;
     width: 500px;
    margin-left: 10px;
        display:block;
    
    
}

aside {background-color: aliceblue;
     border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    padding: 3px;
     width: 500px;
    margin-right: 10px;  
}

 nav {
    display: inline;
}

#myphoto{border-bottom:2px black solid ;
    border-left:2px black solid ;
        border-right: 2px black solid;
    border-top:2px black solid ; 
    width="100px";
    
}




